USE [master]
GO
DROP DATABASE IF EXISTS [AviaCo]
GO
CREATE DATABASE [AviaCo]
GO
USE [AviaCo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AIRCRAFT](
	[AC_NUMBER] [nchar](10) NOT NULL,
	[MOD_CODE] [nchar](10) NULL,
	[AC_TTAF] [numeric](5, 1) NULL,
	[AC_TTEL] [numeric](5, 1) NULL,
	[AC_TTER] [numeric](5, 1) NULL,
 CONSTRAINT [PK__AIRCRAFT__F0D3F5D1F2FC02E3] PRIMARY KEY CLUSTERED 
(
	[AC_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHARTER](
	[CHAR_TRIP] [int] NOT NULL,
	[CHAR_DATE] [date] NULL,
	[AC_NUMBER] [nchar](10) NULL,
	[DEST_ID] [nchar](3) NULL,
	[CHAR_DISTANCE] [decimal](8, 2) NULL,
	[CHAR_HOURS_FLOWN] [numeric](4, 1) NULL,
	[CHAR_HOURS_WAIT] [numeric](4, 1) NULL,
	[CHAR_FUEL_GALLONS] [numeric](5, 1) NULL,
	[CHAR_OIL_QTS] [int] NULL,
	[CUS_CODE] [int] NULL,
 CONSTRAINT [PK__CHARTER__230BAAB996A0C418] PRIMARY KEY CLUSTERED 
(
	[CHAR_TRIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CREW](
	[CHAR_TRIP] [int] NOT NULL,
	[EMP_NUM] [int] NOT NULL,
	[CREW_JOB] [nvarchar](15) NULL,
 CONSTRAINT [PK_CREW] PRIMARY KEY CLUSTERED 
(
	[CHAR_TRIP] ASC,
	[EMP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUSTOMER](
	[CUS_CODE] [int] NOT NULL,
	[CUS_LNAME] [nvarchar](50) NULL,
	[CUS_FNAME] [nvarchar](50) NULL,
	[CUS_INITIAL] [nvarchar](8) NULL,
	[CUS_AREACODE] [nchar](10) NULL,
	[CUS_PHONE] [nchar](12) NULL,
	[CUS_BALANCE] [money] NULL,
 CONSTRAINT [PK__CUSTOMER__F795CE81F9945839] PRIMARY KEY CLUSTERED 
(
	[CUS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DESTINATIONS](
	[DEST_ID] [nchar](3) NOT NULL,
	[DEST_DESCRITION] [nvarchar](50) NULL,
	[STATE] [nvarchar](50) NULL,
 CONSTRAINT [DESTINATIONS_pk] PRIMARY KEY CLUSTERED 
(
	[DEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EARNEDRATING](
	[EMP_NUM] [int] NOT NULL,
	[RTG_CODE] [nvarchar](10) NOT NULL,
	[EARNRTG_DATE] [date] NOT NULL,
 CONSTRAINT [PK__EARNEDRA__803573420A13E854] PRIMARY KEY CLUSTERED 
(
	[EMP_NUM] ASC,
	[RTG_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EMPLOYEE](
	[EMP_NUM] [int] NOT NULL,
	[EMP_TITLE] [nvarchar](15) NULL,
	[EMP_LNAME] [nvarchar](30) NULL,
	[EMP_FNAME] [nvarchar](30) NULL,
	[EMP_INITIAL] [nvarchar](8) NULL,
	[EMP_DOB] [date] NULL,
	[EMP_HIRE_DATE] [date] NULL,
 CONSTRAINT [PK__EMPLOYEE__2D5BB15A4184463D] PRIMARY KEY CLUSTERED 
(
	[EMP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MODEL](
	[MOD_CODE] [nchar](10) NOT NULL,
	[MOD_MANUFACTURER] [nvarchar](50) NULL,
	[MOD_NAME] [nvarchar](50) NULL,
	[MOD_SEATS] [int] NULL,
	[MOD_CHG_MILE] [numeric](4, 2) NULL,
 CONSTRAINT [PK__MODEL__4570BEBD4A909519] PRIMARY KEY CLUSTERED 
(
	[MOD_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PILOT](
	[EMP_NUM] [int] NOT NULL,
	[PIL_LICENSE] [nvarchar](5) NULL,
	[PIL_RATINGS] [nvarchar](max) NULL,
	[PIL_MED_TYPE] [nchar](1) NULL,
	[PIL_MED_DATE] [date] NULL,
	[PIL_PT135_DATE] [date] NULL,
 CONSTRAINT [PK__PILOT__2D5BB15A17E0DE41] PRIMARY KEY CLUSTERED 
(
	[EMP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RATING](
	[RTG_CODE] [nvarchar](10) NOT NULL,
	[RTG_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK__RATING__D6EC218BC0E465B4] PRIMARY KEY CLUSTERED 
(
	[RTG_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [AIRCRAFT] ([AC_NUMBER], [MOD_CODE], [AC_TTAF], [AC_TTEL], [AC_TTER]) VALUES (N'1484P     ', N'PA23-250  ', CAST(1835.4 AS Numeric(5, 1)), CAST(1835.4 AS Numeric(5, 1)), CAST(104.1 AS Numeric(5, 1)))
INSERT [AIRCRAFT] ([AC_NUMBER], [MOD_CODE], [AC_TTAF], [AC_TTEL], [AC_TTER]) VALUES (N'2289L     ', N'C-90A     ', CAST(4243.8 AS Numeric(5, 1)), CAST(768.9 AS Numeric(5, 1)), CAST(1123.4 AS Numeric(5, 1)))
INSERT [AIRCRAFT] ([AC_NUMBER], [MOD_CODE], [AC_TTAF], [AC_TTEL], [AC_TTER]) VALUES (N'2778V     ', N'PA31-350  ', CAST(7992.9 AS Numeric(5, 1)), CAST(1513.1 AS Numeric(5, 1)), CAST(789.5 AS Numeric(5, 1)))
INSERT [CHARTER] ([CHAR_TRIP], [CHAR_DATE], [AC_NUMBER], [DEST_ID], [CHAR_DISTANCE], [CHAR_HOURS_FLOWN], [CHAR_HOURS_WAIT], [CHAR_FUEL_GALLONS], [CHAR_OIL_QTS], [CUS_CODE]) VALUES (10001, CAST(N'2008-02-05' AS Date), N'2289L     ', N'ATL', CAST(936.00 AS Decimal(8, 2)), CAST(5.1 AS Numeric(4, 1)), CAST(2.2 AS Numeric(4, 1)), CAST(354.1 AS Numeric(5, 1)), 1, 10011)
INSERT [CHARTER] ([CHAR_TRIP], [CHAR_DATE], [AC_NUMBER], [DEST_ID], [CHAR_DISTANCE], [CHAR_HOURS_FLOWN], [CHAR_HOURS_WAIT], [CHAR_FUEL_GALLONS], [CHAR_OIL_QTS], [CUS_CODE]) VALUES (10002, CAST(N'2008-02-05' AS Date), N'2778V     ', N'BNA', CAST(320.00 AS Decimal(8, 2)), CAST(1.6 AS Numeric(4, 1)), CAST(0.0 AS Numeric(4, 1)), CAST(72.6 AS Numeric(5, 1)), 0, 10016)
INSERT [CHARTER] ([CHAR_TRIP], [CHAR_DATE], [AC_NUMBER], [DEST_ID], [CHAR_DISTANCE], [CHAR_HOURS_FLOWN], [CHAR_HOURS_WAIT], [CHAR_FUEL_GALLONS], [CHAR_OIL_QTS], [CUS_CODE]) VALUES (10003, CAST(N'2008-02-05' AS Date), N'4278Y     ', N'GNV', CAST(1574.00 AS Decimal(8, 2)), CAST(7.8 AS Numeric(4, 1)), CAST(0.0 AS Numeric(4, 1)), CAST(339.8 AS Numeric(5, 1)), 2, 10014)
INSERT [CREW] ([CHAR_TRIP], [EMP_NUM], [CREW_JOB]) VALUES (10001, 104, N'Pilot')
INSERT [CREW] ([CHAR_TRIP], [EMP_NUM], [CREW_JOB]) VALUES (10002, 101, N'Pilot')
INSERT [CREW] ([CHAR_TRIP], [EMP_NUM], [CREW_JOB]) VALUES (10003, 105, N'Pilot')
INSERT [CUSTOMER] ([CUS_CODE], [CUS_LNAME], [CUS_FNAME], [CUS_INITIAL], [CUS_AREACODE], [CUS_PHONE], [CUS_BALANCE]) VALUES (10010, N'Ramas', N'Alfred', N'A', N'615       ', N'844-2573    ', 0.0000)
INSERT [CUSTOMER] ([CUS_CODE], [CUS_LNAME], [CUS_FNAME], [CUS_INITIAL], [CUS_AREACODE], [CUS_PHONE], [CUS_BALANCE]) VALUES (10011, N'Dunne', N'Leona', N'K', N'713       ', N'894-1238    ', 0.0000)
INSERT [CUSTOMER] ([CUS_CODE], [CUS_LNAME], [CUS_FNAME], [CUS_INITIAL], [CUS_AREACODE], [CUS_PHONE], [CUS_BALANCE]) VALUES (10012, N'Smith', N'Kathy', N'W', N'615       ', N'894-2285    ', 896.5400)
INSERT [DESTINATIONS] ([DEST_ID], [DEST_DESCRITION], [STATE]) VALUES (N'ATL', N'Atlanta ', N'Georgia')
INSERT [DESTINATIONS] ([DEST_ID], [DEST_DESCRITION], [STATE]) VALUES (N'BNA', N'Nashville', N'Tennessee')
INSERT [DESTINATIONS] ([DEST_ID], [DEST_DESCRITION], [STATE]) VALUES (N'GNV', N'Gainesville', N'Florida')
INSERT [EARNEDRATING] ([EMP_NUM], [RTG_CODE], [EARNRTG_DATE]) VALUES (101, N'CFI       ', CAST(N'1998-02-18' AS Date))
INSERT [EARNEDRATING] ([EMP_NUM], [RTG_CODE], [EARNRTG_DATE]) VALUES (101, N'CFII      ', CAST(N'2005-12-15' AS Date))
INSERT [EARNEDRATING] ([EMP_NUM], [RTG_CODE], [EARNRTG_DATE]) VALUES (101, N'INSTR     ', CAST(N'1993-11-08' AS Date))
INSERT [EMPLOYEE] ([EMP_NUM], [EMP_TITLE], [EMP_LNAME], [EMP_FNAME], [EMP_INITIAL], [EMP_DOB], [EMP_HIRE_DATE]) VALUES (100, N'Mr.       ', N'Kolmycz', N'George', N'D', CAST(N'1942-06-15' AS Date), CAST(N'1988-03-15' AS Date))
INSERT [EMPLOYEE] ([EMP_NUM], [EMP_TITLE], [EMP_LNAME], [EMP_FNAME], [EMP_INITIAL], [EMP_DOB], [EMP_HIRE_DATE]) VALUES (101, N'Ms.       ', N'Lewis', N'Rhonda', N'G', CAST(N'1965-03-19' AS Date), CAST(N'1986-04-25' AS Date))
INSERT [EMPLOYEE] ([EMP_NUM], [EMP_TITLE], [EMP_LNAME], [EMP_FNAME], [EMP_INITIAL], [EMP_DOB], [EMP_HIRE_DATE]) VALUES (102, N'Mr.       ', N'VanDam', N'Rhett', NULL, CAST(N'1958-11-14' AS Date), CAST(N'1993-05-18' AS Date))
INSERT [MODEL] ([MOD_CODE], [MOD_MANUFACTURER], [MOD_NAME], [MOD_SEATS], [MOD_CHG_MILE]) VALUES (N'C-90A     ', N'Beechcraft', N'KingAir', 8, CAST(2.67 AS Numeric(4, 2)))
INSERT [MODEL] ([MOD_CODE], [MOD_MANUFACTURER], [MOD_NAME], [MOD_SEATS], [MOD_CHG_MILE]) VALUES (N'PA23-250  ', N'Piper', N'Aztec', 6, CAST(1.93 AS Numeric(4, 2)))
INSERT [MODEL] ([MOD_CODE], [MOD_MANUFACTURER], [MOD_NAME], [MOD_SEATS], [MOD_CHG_MILE]) VALUES (N'PA31-350  ', N'Piper', N'Navajo Chieftain', 10, CAST(2.35 AS Numeric(4, 2)))
INSERT [PILOT] ([EMP_NUM], [PIL_LICENSE], [PIL_RATINGS], [PIL_MED_TYPE], [PIL_MED_DATE], [PIL_PT135_DATE]) VALUES (101, N'ATP  ', N'ATP/SEL/MEL/Instr/CFII', N'1', CAST(N'2017-02-28' AS Date), CAST(N'2019-11-18' AS Date))
INSERT [PILOT] ([EMP_NUM], [PIL_LICENSE], [PIL_RATINGS], [PIL_MED_TYPE], [PIL_MED_DATE], [PIL_PT135_DATE]) VALUES (104, N'ATP  ', N'ATP/SEL/MEL/Instr/CFII', N'1', CAST(N'2016-12-18' AS Date), CAST(N'2019-11-15' AS Date))
INSERT [PILOT] ([EMP_NUM], [PIL_LICENSE], [PIL_RATINGS], [PIL_MED_TYPE], [PIL_MED_DATE], [PIL_PT135_DATE]) VALUES (105, N'COM  ', N'COMM/SEL/MEL/Instr/CFI/CFII/CFII', N'2', CAST(N'2018-01-05' AS Date), CAST(N'2019-11-16' AS Date))
INSERT [RATING] ([RTG_CODE], [RTG_NAME]) VALUES (N'CFI       ', N'Certified Flight Instructor')
INSERT [RATING] ([RTG_CODE], [RTG_NAME]) VALUES (N'CFII      ', N'Certified Flight Instructor, Instrument')
INSERT [RATING] ([RTG_CODE], [RTG_NAME]) VALUES (N'INSTR     ', N'Instrument')
ALTER TABLE [AIRCRAFT]  WITH CHECK ADD  CONSTRAINT [FK__AIRCRAFT__MOD_CO__32E0915F] FOREIGN KEY([MOD_CODE])
REFERENCES [MODEL] ([MOD_CODE])
GO
ALTER TABLE [AIRCRAFT] CHECK CONSTRAINT [FK__AIRCRAFT__MOD_CO__32E0915F]
GO
ALTER TABLE [CHARTER]  WITH CHECK ADD  CONSTRAINT [FK__CHARTER__AC_NUMB__33D4B598] FOREIGN KEY([AC_NUMBER])
REFERENCES [AIRCRAFT] ([AC_NUMBER])
GO
ALTER TABLE [CHARTER] CHECK CONSTRAINT [FK__CHARTER__AC_NUMB__33D4B598]
GO
ALTER TABLE [CHARTER]  WITH CHECK ADD  CONSTRAINT [FK__CHARTER__CUS_COD__34C8D9D1] FOREIGN KEY([CUS_CODE])
REFERENCES [CUSTOMER] ([CUS_CODE])
GO
ALTER TABLE [CHARTER] CHECK CONSTRAINT [FK__CHARTER__CUS_COD__34C8D9D1]
GO
ALTER TABLE [CHARTER]  WITH CHECK ADD  CONSTRAINT [FK_CHARTER_DESTINATIONS] FOREIGN KEY([DEST_ID])
REFERENCES [DESTINATIONS] ([DEST_ID])
GO
ALTER TABLE [CHARTER] CHECK CONSTRAINT [FK_CHARTER_DESTINATIONS]
GO
ALTER TABLE [CREW]  WITH CHECK ADD  CONSTRAINT [FK__CREW__EMP_NUM__38996AB5] FOREIGN KEY([EMP_NUM])
REFERENCES [EMPLOYEE] ([EMP_NUM])
GO
ALTER TABLE [CREW] CHECK CONSTRAINT [FK__CREW__EMP_NUM__38996AB5]
GO
ALTER TABLE [CREW]  WITH CHECK ADD  CONSTRAINT [FK_CREW_CHARTER] FOREIGN KEY([CHAR_TRIP])
REFERENCES [CHARTER] ([CHAR_TRIP])
GO
ALTER TABLE [CREW] CHECK CONSTRAINT [FK_CREW_CHARTER]
GO
ALTER TABLE [EARNEDRATING]  WITH CHECK ADD  CONSTRAINT [FK__EARNEDRAT__EMP_N__37A5467C] FOREIGN KEY([EMP_NUM])
REFERENCES [EMPLOYEE] ([EMP_NUM])
GO
ALTER TABLE [EARNEDRATING] CHECK CONSTRAINT [FK__EARNEDRAT__EMP_N__37A5467C]
GO
ALTER TABLE [EARNEDRATING]  WITH CHECK ADD  CONSTRAINT [FK__EARNEDRAT__RTG_C__38996AB5] FOREIGN KEY([RTG_CODE])
REFERENCES [RATING] ([RTG_CODE])
GO
ALTER TABLE [EARNEDRATING] CHECK CONSTRAINT [FK__EARNEDRAT__RTG_C__38996AB5]
GO
ALTER TABLE [PILOT]  WITH CHECK ADD  CONSTRAINT [FK__PILOT__EMP_NUM__2C3393D0] FOREIGN KEY([EMP_NUM])
REFERENCES [EMPLOYEE] ([EMP_NUM])
GO
ALTER TABLE [PILOT] CHECK CONSTRAINT [FK__PILOT__EMP_NUM__2C3393D0]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspAircraftList]
AS
	SET NOCOUNT ON
	SELECT AC_NUMBER
	FROM AIRCRAFT
	ORDER BY AC_NUMBER
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspCheckEngines]
AS
SET NOCOUNT ON
	SELECT AC_NUMBER, 100-(AC_TTEL % 100) AS [Left Engine], 
					  100-(AC_TTER % 100) AS [Right Engine]
	FROM AIRCRAFT
	WHERE (AC_TTEL % 100 >= 80) OR (AC_TTER % 100 >= 80)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspCustomerList]
	
AS
	SET NOCOUNT ON
	SELECT CUS_CODE AS [Customer Code], CUS_FNAME + ' ' + CUS_LNAME AS [Customer Name]
	FROM CUSTOMER
	ORDER BY [Customer Name]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspDaysToNextProfeciencyCheck]
AS
SET NOCOUNT ON
SELECT CONCAT(e.EMP_FNAME, ' ', e.EMP_LNAME) AS [Pilot Name], 
		DATEADD(YEAR, 1, PIL_PT135_DATE) AS [Next Date], 
		DATEDIFF(DAY, GETDATE(), DATEADD(YEAR, 1, PIL_PT135_DATE)) AS [Days to Go]
FROM EMPLOYEE e
INNER JOIN PILOT p ON p.EMP_NUM = e.EMP_NUM
WHERE DATEDIFF(DAY, GETDATE(), DATEADD(YEAR, 1, PIL_PT135_DATE)) > 0
GROUP BY e.EMP_FNAME, e.EMP_LNAME, p.PIL_PT135_DATE
ORDER BY [Pilot Name]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspDeleteRating]
	@rating_code varchar(5)
AS
BEGIN TRY
	BEGIN TRANSACTION
		DELETE FROM RATING
		WHERE RTG_CODE = @rating_code
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION
END CATCH
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspDestinationList]
	
AS
	SET NOCOUNT ON
	SELECT DISTINCT CHAR_DESTINATION AS Destination
	FROM CHARTER
	ORDER BY Destination
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspInsertCharter]
	@tripid int,
	@date datetime = NULL,
	@aircraft char(5) = NULL,
	@destination char(3) = NULL,
	@distance int = NULL,
	@hours_flown numeric(4,1) = NULL,
	@hours_wait numeric(4,1) = NULL,
	@fuel numeric(5,1) = NULL,
	@oil int = NULL,
	@cus_code int = NULL,
	@pilot int = NULL,
	@copilot int = NULL
AS
BEGIN TRY
		BEGIN TRANSACTION
			
			INSERT INTO CHARTER(CHAR_TRIP, CHAR_DATE, AC_NUMBER, CHAR_DESTINATION, 
									CHAR_DISTANCE, CHAR_HOURS_FLOWN, CHAR_HOURS_WAIT, 
									CHAR_FUEL_GALLONS, CHAR_OIL_QTS, CUS_CODE)
			VALUES(@tripid, @date, @aircraft, @destination, @distance, @hours_flown,
									@hours_wait, @fuel, @oil, @cus_code)

			INSERT INTO CREW (CHAR_TRIP, EMP_NUM, CREW_JOB)
			VALUES (@tripid, @pilot, 'Pilot'),
			       (@tripid, @copilot, 'Copilot')

			UPDATE AIRCRAFT
				SET 
					AC_TTAF = AC_TTAF + @hours_flown, 
					AC_TTEL = AC_TTEL + @hours_flown,
					AC_TTER = AC_TTER + @hours_flown
				WHERE
					AC_NUMBER = @aircraft

				UPDATE CUSTOMER
					SET
						CUS_BALANCE = CUS_BALANCE + (@distance * (SELECT MODEL.MOD_CHG_MILE
																		FROM MODEL, AIRCRAFT
																		WHERE AIRCRAFT.MOD_CODE = MODEL.MOD_CODE
																		AND AIRCRAFT.AC_NUMBER = @aircraft))
						WHERE CUS_CODE = @cus_code
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION
	END CATCH
RETURN
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspInsertModel]
	@mod_code char(10),
	@mod_manufacturer varchar(15) = NULL,
	@mod_name varchar(20) = NULL,
	@mod_seats	int = NULL,
	@mod_chg_mile numeric(4,2) = NULL
AS
BEGIN TRY
	BEGIN TRANSACTION
		INSERT INTO MODEL (MOD_CODE, MOD_MANUFACTURER, MOD_NAME, MOD_SEATS,  MOD_CHG_MILE)
		VALUES (@mod_code, @mod_manufacturer, @mod_name, @mod_seats, @mod_chg_mile)  
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION
END CATCH
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspInsertRating]
	@ratingCode char(5),
	@ratingName varchar(50) = NULL
AS
BEGIN TRY
	BEGIN TRANSACTION
		INSERT INTO RATING (RTG_CODE, RTG_NAME)
		VALUES (@ratingCode, @ratingName)  
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION
END CATCH
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspMedicalCheck]
AS
	SELECT EMP_FNAME+ ' ' +EMP_LNAME as [Pilot Name] 
	FROM EMPLOYEE, PILOT
	WHERE PILOT.EMP_NUM = EMPLOYEE.EMP_NUM
	AND DATEADD(YEAR, 1, PIL_MED_DATE) BETWEEN GETDATE() AND DATEADD(DAY, 30, GETDATE())
	ORDER BY EMP_LNAME
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspModelAverages]
	@model_code char(10)
AS
SET NOCOUNT ON 
SELECT AVG(CHAR_FUEL_GALLONS) AS [Fuel Average],
					AVG(CHAR_OIL_QTS) AS [Oil Average]
FROM AIRCRAFT a, CHARTER c
WHERE a.AC_NUMBER = c.AC_NUMBER
AND a.MOD_CODE = @model_code
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspModelList]
AS
SET NOCOUNT ON
SELECT MOD_CODE, MOD_NAME
FROM MODEL
ORDER BY MOD_NAME
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspPilotHours]
	@pilotID int
AS
	SET NOCOUNT ON
	SELECT CONCAT(EMP_FNAME, ' ', EMP_LNAME) AS [Pilot Name], SUM(CHAR_HOURS_FLOWN) AS [Total Hours]
	FROM PILOT p, EMPLOYEE e, CREW c, CHARTER ch
	WHERE p.EMP_NUM = e.EMP_NUM
	AND e.EMP_NUM = c.EMP_NUM
	AND c.CHAR_TRIP = ch.CHAR_TRIP
	AND p.EMP_NUM = @pilotID
	GROUP BY e.EMP_LNAME, e.EMP_FNAME
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspPilotHoursIJ]
	@pilotID int
AS
	SET NOCOUNT ON
	SELECT CONCAT(EMP_FNAME, ' ', EMP_LNAME) AS [Pilot Name], SUM(CHAR_HOURS_FLOWN) AS [Total Hours Flown]
	FROM PILOT p
	INNER JOIN EMPLOYEE e ON p.EMP_NUM = e.EMP_NUM
	INNER JOIN CREW c ON e.EMP_NUM = c.EMP_NUM
	INNER JOIN CHARTER ch ON c.CHAR_TRIP = ch.CHAR_TRIP
	WHERE p.EMP_NUM = @pilotID
	GROUP BY e.EMP_LNAME, e.EMP_FNAME
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspPilotList]
AS
	SET NOCOUNT ON
	SELECT p.EMP_NUM AS [Pilot ID], EMP_FNAME+ ' ' +EMP_LNAME AS [Pilot Name]
	FROM PILOT p, EMPLOYEE e
	WHERE p.EMP_NUM = e.EMP_NUM
	ORDER BY [Pilot Name]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [uspPilotListbyRating]
	@rating char(5)
AS

	SET NOCOUNT ON
	SELECT EMP_FNAME+ ' ' +EMP_LNAME as [Pilot Name], SUM(CHAR_HOURS_FLOWN) as [Total Hours]
	FROM PILOT p, EMPLOYEE e, CREW c, CHARTER ch, EARNEDRATING r
	WHERE p.EMP_NUM = e.EMP_NUM
	AND e.EMP_NUM = c.EMP_NUM
	AND c.CHAR_TRIP = ch.CHAR_TRIP
	AND p.EMP_NUM = r.EMP_NUM
	AND r.RTG_CODE = @rating
	GROUP BY e.EMP_LNAME, e.EMP_FNAME
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspPilotMedicalExam]
AS
SET NOCOUNT ON
SELECT EMP_FNAME+ ' ' +EMP_LNAME AS Pilot
FROM EMPLOYEE e, PILOT p
WHERE p.EMP_NUM = e.EMP_NUM
AND DATEADD(YEAR, 1, PIL_MED_DATE) BETWEEN GETDATE() AND DATEADD(DAY, 30, GETDATE())
ORDER BY Pilot
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspProficiencyCheck]
AS
	SET NOCOUNT ON
	SELECT EMP_FNAME+ ' ' +EMP_LNAME as [Pilot Name] 
	FROM EMPLOYEE, PILOT
	WHERE PILOT.EMP_NUM = EMPLOYEE.EMP_NUM
	AND DATEADD(DAY, 150, PIL_PT135_DATE) BETWEEN GETDATE() AND DATEADD(DAY, 30, GETDATE())
	ORDER BY [Pilot Name]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspUpdatePilot]
	@emp_num int,
	@pilot_license nvarchar(5) = NULL,
	@medical_type nchar(1) = NULL,
	@medical_date date = NULL,
	@pt135_date date = NULL

AS
BEGIN TRY
	BEGIN TRANSACTION
		UPDATE PILOT
			SET PIL_LICENSE = ISNULL(@pilot_license, PIL_LICENSE),
				PIL_MED_TYPE = ISNULL(@medical_type, PIL_MED_TYPE),
				PIL_MED_DATE = ISNULL(@medical_date, PIL_MED_DATE),
				PIL_PT135_DATE = ISNULL(@pt135_date, PIL_PT135_DATE)
		WHERE EMP_NUM = @emp_num
		
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION
END CATCH
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspUpdatePilotRatings]
	@emp_num int,
	@rating nvarchar(10) = NULL
AS
BEGIN TRY
	BEGIN TRANSACTION
		UPDATE PILOT
			SET PIL_RATINGS = CONCAT(PIL_RATINGS, '/', @rating)
		WHERE EMP_NUM = @emp_num
		
		INSERT INTO EARNEDRATING (EMP_NUM, RTG_CODE, EARNRTG_DATE)
		VALUES (@emp_num, @rating, GETDATE())
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION
END CATCH
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [uspUpdateRating]
	@emp_num int,
	@rating nvarchar(10) = NULL
AS
BEGIN TRY
	BEGIN TRANSACTION
		UPDATE PILOT
			SET PIL_RATINGS = CONCAT(PIL_RATINGS, '/', @rating)
		WHERE EMP_NUM = @emp_num
		
		INSERT INTO EARNEDRATING (EMP_NUM, RTG_CODE, EARNRTG_DATE)
		VALUES (@emp_num, @rating, GETDATE())
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION
END CATCH
GO
